.container{
  border: solid 1px #C2185B;
    border-radius:.3rem;
    padding: .5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom:1rem;
}

.title{
  color: #C2185B;
}

.button{
  background-color:#C2185B;
    padding: .5rem 1rem;
    color: #FFF;
    border:none;
    border-radius:5px;
    cursor:pointer;
    &:hover{
      background-color:#D81B60;
    }
}